<form class="primary-search" action="/expert_service_submissions/new" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

	<div class="form-group primary-search-form-location">    
		<div class="input-with-icon">
		  <i class="fa fa-location-arrow" aria-hidden="true"></i>
		    <input type="text" name="location" id="location" value="" placeholder="輸入地區 例:桃園區" class="search-location js-google-maps-location-query js-location-autocomplete input-large" autocomplete="off">
		</div>
	</div>  

	  <input type="submit" name="commit" value="開始找教練" class="button button-cta button-large full">
</form>


