<%#= image_tag("landing1.jpg", :width =>'100%', :class=>'landing1_pic') %>
<div class="landing1_pic">
  <div class="landing1_text jumbotron text-center">
    <h1>最有保障、最優秀的<br>私人教練媒合平台</h1>
    <h3>快點來量身定制專屬的健身，健美，健力課程</h3>
    <p>快點來量身定制專屬的健身，健美，健力課程</p>
  </div>
</div>
<div class="landing2_pic">
  <div class="landing2_text jumbotron">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit in sint quas tempora ducimus laudantium ipsa cumque omnis delectus deleniti, incidunt consectetur suscipit minima dolorem voluptatem ipsum, est adipisci labore quae? Cupiditate distinctio sed unde, officia necessitatibus, modi tempore quae natus neque eligendi veritatis repellat alias ea accusamus maiores, at inventore dolores nihil quia ratione laboriosam eaque. Similique fuga ipsum excepturi doloremque quia eaque officiis hic fugit vel eligendi aut perspiciatis harum quam reprehenderit libero nemo culpa quod magnam quae omnis adipisci explicabo fugiat error, deleniti. Ipsum labore mollitia ipsam excepturi quae voluptas porro, temporibus reiciendis cum esse enim aspernatur.
  </div>
</div>
<div class="landing3_pic">
  <div class="landing3_text jumbotron">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit in sint quas tempora ducimus laudantium ipsa cumque omnis delectus deleniti, incidunt consectetur suscipit minima dolorem voluptatem ipsum, est adipisci labore quae? Cupiditate distinctio sed unde, officia necessitatibus, modi tempore quae natus neque eligendi veritatis repellat alias ea accusamus maiores, at inventore dolores nihil quia ratione laboriosam eaque. Similique fuga ipsum excepturi doloremque quia eaque officiis hic fugit vel eligendi aut perspiciatis harum quam reprehenderit libero nemo culpa quod magnam quae omnis adipisci explicabo fugiat error, deleniti. Ipsum labore mollitia ipsam excepturi quae voluptas porro, temporibus reiciendis cum esse enim aspernatur.
  </div>
</div>
<div class="landing4_pic">
  <div class="landing4_text jumbotron">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit in sint quas tempora ducimus laudantium ipsa cumque omnis delectus deleniti, incidunt consectetur suscipit minima dolorem voluptatem ipsum, est adipisci labore quae? Cupiditate distinctio sed unde, officia necessitatibus, modi tempore quae natus neque eligendi veritatis repellat alias ea accusamus maiores, at inventore dolores nihil quia ratione laboriosam eaque. Similique fuga ipsum excepturi doloremque quia eaque officiis hic fugit vel eligendi aut perspiciatis harum quam reprehenderit libero nemo culpa quod magnam quae omnis adipisci explicabo fugiat error, deleniti. Ipsum labore mollitia ipsam excepturi quae voluptas porro, temporibus reiciendis cum esse enim aspernatur.
  </div>
</div>
