/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.landing1_pic{
  background: image-url("landing1.jpg") no-repeat center top;
  background-size:cover;
}
.landing1_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.landing1_text>h3{
  font-weight: 100;
}
.preusremail{
  color:black;
  border-radius: 3px;
  font-size: 16px;
  width:500px;
  height: 40px;
}
.preuser_btn{
  height: 40px;
  font-size: 16px;
  width:70px;
  margin-left:0px;
  background-color: #d32d28;
  border:none;
  border-radius: 3px;
  margin-left: -5px;
}
.preuser_btn:hover{
  background-color: #ad2a27;
}
.landing2_pic{
  background: image-url("landing2.jpg") no-repeat center center;
  background-size:cover;
}
.landing2_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.landing3_pic{
  background: image-url("landing3.png") no-repeat center center;
  background-size:cover;
}
.landing3_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.landing4_pic{
  background: image-url("landing4.jpg") no-repeat center center;
  background-size:cover;
}
.landing4_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.landing5_pic{
  background: image-url("landing5.jpg") no-repeat center center;
  background-size:cover;
}
.landing5_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.welcome>.jumbotron{
  background-color: #f3404d;
  padding: 80px 0;
  color:white;
}
.welcometxt>p{
  font-size: 40px;
  font-weight: 100;
}
.navbar {
  margin-bottom:0px;
  background: rgba(243, 64, 77, 1);  
  border-radius: 0px;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  border:0px;

  }
.navbar-default .navbar-brand {
    color: #FFF;

}
.navbar-default .navbar-brand:hover{
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.padingtop{padding:250px 0;}
.coach-pading{padding:50px 0;}
.container p{font-size: 20px;}

/*searchForm*/
.primary-search{
    max-width: 559px;
    margin: 0 auto;
}
.input-with-icon {
    position: relative;
}
.input-with-icon i {
    color: #333e45;
    left: 0.75rem;
    position: absolute;
    top: 17px;
}

.primary-search .form-group .search-location {
    padding-left: 2.25rem;
}

.primary-search .form-group input {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
    padding: 13px;
}
.primary-search .form-group {
    float: left;
    display: block;
    width: 430px;
    display: inline-block;
}
.primary-search .button-cta {
    font-size: 16px;
    line-height: normal;
    margin-left: 1rem;
    padding: 13px 0;
    width: 9.75rem;
}
.button-cta {
    background-color: #eb4753;
    border: 1px solid #eb4753;
    color: #fff;
}
.full {
    text-align: center;
    width: 100%;
}
.button, button {
    color: #fff;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    background-clip: padding-box;
    border-radius: 3px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: normal;
    padding: 13px 1.5rem;
    text-align: center;
    text-decoration: none;
}
input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select, select[multiple=multiple] {
    background-color: #fff;
    border: 1px solid #94a5b0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    transition: border-color 150ms ease;
    width: 100%;
    color: black;
}