/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.landing1_pic{
  background: image-url("landing1.jpg") no-repeat center top;
  background-size:cover;
}
.landing1_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.landing1_text>h3{
  font-weight: 100;
}
.preusremail{
  color:black;
  border-radius: 3px;
  font-size: 16px;
  width:500px;
  height: 40px;
}
.preuser_btn{
  height: 40px;
  font-size: 16px;
  width:70px;
  margin-left:0px;
  background-color: #d32d28;
  border:none;
  border-radius: 3px;
  margin-left: -5px;
}
.preuser_btn:hover{
  background-color: #ad2a27;
}
.landing2_pic{
  background: image-url("landing2.jpg") no-repeat center center;
  background-size:cover;
}
.landing2_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.landing3_pic{
  background: image-url("landing3.png") no-repeat center center;
  background-size:cover;
}
.landing3_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.landing4_pic{
  background: image-url("landing4.jpg") no-repeat center center;
  background-size:cover;
}
.landing4_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.landing5_pic{
  background: image-url("landing5.jpg") no-repeat center center;
  background-size:cover;
}
.landing5_text{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.welcome>.jumbotron{
  background-color: #f3404d;
  padding: 80px 0;
  color:white;
}
.welcometxt>p{
  font-size: 40px;
  font-weight: 100;
}
.navbar {
  margin-bottom:0px;
  background: rgba(243, 64, 77, 1);  
  border-radius: 0px;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  border:0px;

  }
.navbar-default .navbar-brand {
    color: #FFF;

}
.navbar-default .navbar-brand:hover{
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.padingtop{padding:250px 0;}
.coach-pading{padding:50px 0;}
.container p{font-size: 20px;}